@model Tablero

<form asp-controller="Tablero" asp-action="ConfirmUpdateTablero" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div>
        <label asp-for="@Model.Nombre">Nombre:</label>
        <input asp-for="@Model.Nombre" />
    </div>
    <div>
        <label asp-for="@Model.Desc">Descripción:</label>
        <textarea asp-for="@Model.Desc"></textarea>
    </div>
    <div>
        <label asp-for="@Model.IdUsuarioPropietario">Id usuario propietario:</label>
        <input asp-for="@Model.IdUsuarioPropietario" />
    </div>
    <button type="submit">Guardar Cambios</button>

</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }