@model Tarea

<form asp-controller="Tarea" asp-action="NewTarea" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div>
        <label>Nombre:</label>
        <input asp-for="@Model.Nombre" />
    </div>
    <div>
        <label>Descripción:</label>
        <textarea asp-for="@Model.Desc"></textarea>
    </div>
    <div>
        <label>Estado:</label>
        <select asp-for="@Model.Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()">
            <option value="">Seleccione un estado</option>
        </select>
    </div>
    <div>
        <label>Color:</label>
        <input asp-for="@Model.Color" type="color" />
    </div>
    <div>
        <label>Id Tablero:</label>
        <input asp-for="@Model.IdTablero" />
    </div>
    <div>
        <label>Id Usuario Asignado:</label>
        <input asp-for="@Model.IdUsuarioAsignado" />
        
    </div>
    <button type="submit" class="btn btn-success"
        onclick="return confirm('¿Estás seguro de crear la tarea?')">Agregar</button>

</form>