@using tl2_tp10_2023_0ignacio.ViewModels
@model TareaViewModel

<h1>Modificar Tarea</h1>

<form asp-controller="Tarea" asp-action="ConfirmUpdateTarea" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div>
        <label asp-for="@Model.Nombre">Nombre:</label>
        <input asp-for="@Model.Nombre" />
    </div>
    <div>
        <label asp-for="@Model.Desc>Descripción:">Descripción</label>
        <textarea asp-for="@Model.Desc"></textarea>
    </div>
    <div>
        <label asp-for="@Model.Estado">Estado:</label>
        <select asp-for="@Model.Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()"></select>
    </div>
    <div>
        <label asp-for="@Model.Color">Color:</label>
        <input asp-for="@Model.Color" type="color" />
    </div>
    <div>
        <label asp-for="@Model.IdTablero">Id Tablero:</label>
        <input asp-for="@Model.IdTablero" />
    </div>
    <div>
        <label asp-for="@Model.IdUsuarioAsignado">Id Usuario Asignado:</label>
        <input asp-for="@Model.IdUsuarioAsignado" />
    </div>
    <button type="submit">Guardar Cambios</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }