@using tl2_tp10_2023_0ignacio.ViewModels
@model UpdateEstadoTareaViewModel

<h1>Modificar estado de la tarea</h1>

<form asp-controller="Tarea" asp-action="ConfirmUpdateTarea" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.IdTablero" />
    <input type="hidden" asp-for="@Model.Nombre" />
    <input type="hidden" asp-for="@Model.Desc" />
    <input type="hidden" asp-for="@Model.Color" />
    <input type="hidden" asp-for="@Model.IdUsuarioAsignado" />
    
    <div class="input-group mb-3">
        <div>
            <label asp-for="@Model.Estado" class="input-group-text">Estado:</label>
            <select asp-for="@Model.Estado" class="form-select" asp-items="@Html.GetEnumSelectList<EstadoTarea>()">
                <option value="">Seleccione un estado</option>
            </select>
            <span asp-validation-for="@Model.Estado" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-success"
            onclick="return confirm('¿Estás seguro de modificar la tarea?')">Guardar cambios</button>
    </div>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }