@using tl2_tp10_2023_0ignacio.ViewModels
@model UpdateTareaViewModel

<h1>Modificar Tarea</h1>

<form asp-controller="Tarea" asp-action="ConfirmUpdateTarea" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.IdTablero" />
    <div>
        <label asp-for="@Model.Nombre">Nombre:</label>
        <input asp-for="@Model.Nombre" />
    </div>
    <div>
        <label asp-for="@Model.Desc">Descripción</label>
        <textarea asp-for="@Model.Desc"></textarea>
    </div>
    <div>
        <label asp-for="@Model.Estado">Estado:</label>
        <select asp-for="@Model.Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()"></select>
    </div>
    <div>
        <label asp-for="@Model.Color">Color:</label>
        <input asp-for="@Model.Color" type="color" />
    </div>
    <div>
        <label asp-for="@Model.IdUsuarioAsignado">Usuario asignado:</label>
        <select asp-for="@Model.IdUsuarioAsignado" asp-items="@(new SelectList(Model.Usuarios, "Id", "NombreDeUsuario"))">
            <option value="">Seleccione un usuario</option>
        </select>
    </div>
    <button type="submit">Guardar Cambios</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }