@using tl2_tp10_2023_0ignacio.ViewModels
@model GetAllUsuariosViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div>
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <h2>Lista de usuarios</h2>
            </div>
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <div>
                    <a asp-controller="Usuario" asp-action="NewUsuario" class="btn btn-success">Agregar Usuario</a>
                </div>
            </div>
                
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope = "col">ID</th>
                            <th scope = "col">Nombre</th>
                            <th scope = "col">Rol</th>
                            <th scope = "col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.UsuariosVM)
                        {
                            <tr>
                                <th scope = "row">@usuario.Id</th>
                                <td>@usuario.NombreDeUsuario</td>
                                <td>@usuario.Rol</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Opciones">
                                        <a asp-controller="Usuario" class="btn btn-info" asp-action="UpdateUsuario" asp-route-id="@usuario.Id">Editar</a>
                                        <a asp-controller="Usuario" class="btn btn-info" asp-action="DeleteUsuario" asp-route-id="@usuario.Id">Eliminar</a>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>