@using tl2_tp10_2023_0ignacio.ViewModels
@model NewUsuarioViewModel

<form asp-controller="Usuario" asp-action="NewUsuario">
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario"></label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control" />
        <label asp-for="@Model.Pass">Contraseña</label>
        <input asp-for="@Model.Pass">
        <label asp-for="@Model.Rol">Rol</label>
        <input asp-for="@Model.Rol">
    </div>

    <button type="submit" class="btn btn-success"
        onclick="return confirm('¿Estás seguro de crear el usuario?')">Agregar</button>
</form>